//
//  debug.xcconfig
//  Telegram
//
//  Created by Mikhail Filimonov on 29.11.2021.
//  Copyright © 2021 Telegram. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


#include "common.xcconfig"

SOURCE = DEBUG

TYPE = -D'BETA'
OTHER_SWIFT_FLAGS = $(TYPE)
